/*-- scss:rules --*/

.reveal {
  .slides {
    .slide {
      img+p.caption {
        font-size: 0.005;
      }
    }
  }
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}